.cardTitle {
  composes: text-truncate from global;
  composes: text-md from global;
}

.cardImage {
  height: 300px;
}

.cardAuthor {
  composes: text-truncate from global;
  composes: text-sm from global;
  composes: text-grey-6 from global;
}

.cardDate {
  composes: text-truncate from global;
  composes: text-sm from global;
  composes: text-grey-6 from global;
  text-align: end;
}

.cardContent {
  padding: 18px !important;
  composes: text-grey-7 from global;
  font-weight: 400;
}

.cardContentDivider {
  composes: border-bottom from global;
  margin: 0 24px;
}

.seasons {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  overflow: auto;
}

.seasonContainer {
}

.season {
  display: inline-block;
}

.seasonText {
  text-align: center;
  padding: 8px;
}

.seasonSvgs {
  display: flex;
  justify-content: center;
  background: #a9bdbec2;
  border-radius: 20px;
}

.seasonSvgs img {
  padding: 6px;
  opacity: .2;
}

.active {
  opacity: 1 !important;
}
