.root {
  position: absolute;
  left: 130%;
  width: 100%;
  min-width: 320px;
  top: 0;
  bottom: 0;
  transition: left .5s;
  background-color: white;
  display: flex;
  flex-direction: column;
  composes: text-grey-5 from global;
  background-color: #edf1f0;
}

.open {
  left: 0px;
}

.topbar {
  height: 48px;
  padding: 8px;
  composes: children-center from global;
  position: relative;
  composes: border-bottom from global;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}


.content {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 24px;
}

.title {
  composes: text-xl from global;
}

.closeButton {
  position: absolute;
  left: 8px;
}
