.root {
  position: fixed;
  left: 140vw;
  width: calc(100vw - 375px);
  top: 0;
  bottom: 0;
  transition: left .5s;
  background-color: white;
  display: flex;
  flex-direction: column;
  composes: text-grey-5 from global;
  background-color: #eaeced;
}

.open {
  left: 375px;
}

.topbar {
  height: 48px;
  padding: 8px;
  composes: children-center from global;
  position: relative;
  composes: border-bottom from global;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
}

.title {
  composes: text-xl from global;
}

.closeButton {
  position: absolute;
  left: 8px;
}
