
.root {

}

.controls {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 375px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 8px -2px rgba(0,0,0,0.1);
  z-index: 1;
}

.content {
  position: fixed;
  left: 375px;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 24px;
  overflow: auto;
  color: white;
  background: #448AFF;
}

.field {
  margin-bottom: 36px;
}

.slider {
  padding-bottom: 12px;
}

.sliderLabel {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.radioGroupLabel {
  display: flex;
  justify-content: space-between;
}

.tabs {

}

.tabRoot {
  width: 25% !important;
  min-width: 0px !important;
  margin: 0 !important;
}

.tabLabel {
  padding: 0 !important;
  margin: 0 auto !important;
}

.controlsHeader {
  position: relative;
  height: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
}

.appTitle {
  composes: children-center from global;
  padding-top: 24px;
  flex: 1;
}

.controlsBody {
  flex: 1;
  padding: 48px;
}

.controlsFooter {
  height: 48px;
  background: white;
  box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.1);
}

.mapContainer {
  min-width: 200px;
  width: 90%;
  margin: 0 auto;
}
