/* For desktop: */
.root {
  display: flex;
}

.controls {
  height: 100vh;
  width: 375px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0px 16px -2px rgba(0,0,0,0.15);
  z-index: 1;
  box-sizing: border-box;
}

.content {
  position: relative;
  composes: children-center from global;
  height: 100vh;
  flex: 1;
  padding: 24px;
  overflow-y: hidden;
  overflow-x: hidden;
  color: white;
  background: #3b4458;
  box-sizing: border-box;
}

.contentFooter {
  position: fixed;
  bottom: 0px;
  left: calc(100% - 48px);
  width: calc(100% - 375px);
  height: 48px;
  overflow: hidden;
  box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.03);
  composes: children-center from global;
  background: rgba(255,255,255,.05);
  transition: all .4s;
}

.contentFooterOpen {
  left: 375px;
}

@media only screen and (max-width: 720px) {
  /* For mobile: */
  .root {
    display: flex;
    flex-direction: column;
  }
  .controls {
    height: 100vh;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0px 16px -2px rgba(0,0,0,0.15);
    z-index: 1;
    box-sizing: border-box;
  }

  .content {
    position: relative;
    composes: children-center from global;
    height: 100vh;
    width: 100%;
    padding: 24px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
    background: #3b4458;
    box-sizing: border-box;
  }

  .contentFooter {
    position: fixed;
    bottom: 0px;
    left: calc(100% - 48px);
    width: calc(100%);
    height: 48px;
    overflow: hidden;
    box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.03);
    composes: children-center from global;
    background: rgba(255,255,255,.05);
    transition: all .4s;
  }

  .contentFooterOpen {
    left: 0;
  }
}

.shareableLink {
  position: absolute;
  top: 10px;
  right: 10px;
}

.shareableLink Button {
  color: rgba(255,255,255,.85) !important;
}

.field {
  margin-bottom: 36px;
}

.slider {
  padding-bottom: 12px;
}

.sliderLabel {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.radioGroupLabel {
  display: flex;
  justify-content: space-between;
}

.tabs {

}

.tabRoot {
  width: 25% !important;
  min-width: 0px !important;
  margin: 0 !important;
}

.tabLabel {
  padding: 0 !important;
  margin: 0 auto !important;
}

.controlsHeader {
  position: relative;
  height: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
}

.appTitle {
  composes: children-center from global;
  padding-top: 24px;
  padding-right: 14px;
  flex: 2;
  composes: text-grey-7 from global;
  font-size: 24px;
}

.appTitle img {
  padding: 12px;
  padding-top: 0px;
  padding-bottom: 2px;
}

.appSubtitle {
  flex: 1;
  composes: text-md from global;
  composes: text-grey-6 from global;
}

.controlsBody {
  flex: 1;
  padding: 48px;
  overflow-x: hidden;
}

.controlsFooter {
  height: 48px;
  background: white;
  box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
  composes: text-md from global;
  composes: text-grey-6 from global;
}

.mapContainer {
  min-width: 200px;
  width: 90%;
  margin: 0 auto;
  padding-left: 1%;
}

.mapKey {
  position: relative;
  width: 180px;
  height: 16px;
}

.contentFooterText {
  padding: 8px;
  composes: text-sm from global;
}

.footerToggleButton {
  position: absolute !important;
  left: 8px;
  top: 8px;
  padding: 0;
}

.footerToggleButton svg {
  fill: white;
}

.arrowIcon {
  transition: transform .4s;
}

.faceRight {
  transform: rotate(180deg);
}

.lightTooltip {
  background: rgba(255, 255, 255, 0.9) !important;
  color: #3b4458 !important;
}

.aboutLink {
  composes: link from global;
}

.madeWithLoveTag {
  margin-bottom: 4px;
}

.mapContainer path {
  transition: all .15s !important;
  cursor: pointer;
}

.mapContainer path:hover {
  stroke-width: 2px;
  stroke: #3b4458;
  stroke-dasharray: 7,7;
}
