.chart {
  background-color: #3b4458;
  padding: 16px;
}

.chart text {
  stroke: rgba(255,255,255,1);
  stroke-width: 0px;
  fill: rgba(255,255,255,1) !important;
}

.chart line {
  stroke: rgba(255,255,255,1);
  stroke-width: .5px;
}

.chart rect {
  fill: #d8f2f5db !important;
  opacity: .89;
}

.chart path {
  stroke: rgba(255,255,255,.55) !important;
}

.title {
  color: white;
  composes: text-md from global;
}
