.chart {
  background-color: #0a0a1c;
  padding: 16px;
}

.chart text {
  stroke: rgba(255,255,255,1);
  stroke-width: .5px;
}

.chart line {
  stroke: rgba(255,255,255,1);
  stroke-width: .5px;
}

.chart rect {
  fill: #b2c7c7 !important;
  opacity: .95;
}

.title {
  color: white;
  composes: text-md from global;
}
